{% extends 'index.html' %}
{% block content %}

 
<div class="row"  style="margin-bottom: 20%;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <center><h1>Breast Cancer Predictor</h1></center>
        <div class="card card-body" style="border: 1px solid black;">
            <form class="form-horizontal" action="{{ url_for('predictBreastCancer') }}" method="POST">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="mean_texture" placeholder="mean_texture">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="mean_perimeter" placeholder="mean_perimeter">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="mean_area" placeholder="mean_area">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="mean_smoothness" placeholder="mean_smoothness">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="mean_compactness" placeholder="mean_compactness">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="mean concavity" placeholder="mean concavity">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="mean concave points" placeholder="mean concave points">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="mean symmetry" placeholder="mean symmetry">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="mean fractal dimension" placeholder="mean fractal dimension)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="radius error" placeholder="radius error">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="texture error" placeholder="texture error">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="perimeter error" placeholder="perimeter error">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="area error" placeholder="area error">
                        </div>
                    </div>
                
                <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="smoothness error" placeholder="smoothness error">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="compactness error" placeholder="compactness error">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="concavity error" placeholder="concavity error">
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="concave points error" placeholder="concave points error">
                        </div>
                    </div>

                <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="symmetry error" placeholder="symmetry error">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="fractal dimension error" placeholder="fractal dimension error">
                        </div>
                    </div>
                    
                <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="worst radius" placeholder="worst radius">
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="worst texture" placeholder="worst texture">
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="worst perimeter" placeholder="worst perimeter">
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="worst area" placeholder="worst area">
                        </div>
                    </div>
 
             
                <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="worst smoothness" placeholder="worst smoothness">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="worst compactness" placeholder="worst compactness">
                        </div>
                    </div>

                <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="worst concavity" placeholder="worst concavity">
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="worst concave points" placeholder="worst concave points">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="worst symmetry" placeholder="worst symmetry">
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="worst fractal dimension" placeholder="worst fractal dimension">
                        </div>
                    </div>
                    
                </div>
                

                <input type="submit" class="btn btn-info btn-block" value="Predict">
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}