{% extends 'index.html' %}
{% block content %}
	{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
	{% endif %}

<div class="container">
    <div class="card card-body" style="border: 1px solid black; box-shadow: 0 0 10px black;">
        <h2>Flask WebApp.</h2>
        <p>Description about the project ig</p>
        <br>
        <h2>Model Information:</h2>
        <ul>
            <li>List of models, accuracies, parameters etc</li>
        </ul>
    </div>
</div>
{% endblock %}
