{% extends 'index.html' %}
{% block content %}
<div class="row" style="margin-bottom: 20%;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <center>
            <h1>Thyroid Disease Predictor</h1>
        </center>
        <div class="card card-body" style="border: 1px solid black;">
            <form class="form-horizontal" action="{{ url_for('predictThyroid') }}" 
            method="POST">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Age"
                                placeholder="Age" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Sex"
                                placeholder="Sex" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="On_thyroxine"
                                placeholder="On thyroxine" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Query_on_thyroxine"
                                placeholder="Query on thyroxine" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="On_antithyroid_medication"
                                placeholder="On antithyroid medication" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Sick"
                                placeholder="Sick" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Pregnant"
                                placeholder="Pregnant" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Thyroid surgery"
                                placeholder="Thyroid surgery" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="I131_treatment"
                                placeholder="I131 treatment" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Query_hypothyroid"
                                placeholder="Query hypothyroid" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Query_hyperthyroid"
                                placeholder="Query hyperthyroid" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Lithium"
                                placeholder="Lithium" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Goiter"
                                placeholder="Goiter" required="required">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Tumor"
                                placeholder="Tumor" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Hypopituitary"
                                placeholder="Hypopituitary" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="Psych"
                                placeholder="Psych" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="TSH"
                                placeholder="TSH" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="T3"
                                placeholder="T3" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="TT4"
                                placeholder="TT4" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="T4U"
                                placeholder="T4U" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="FTI"
                                placeholder="FTI" required="required">
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-info btn-block" value="Predict Thyroid Disease">
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
